include LICENSE
include MANIFEST.in
include AUTHORS.md CHANGELOG.md CODE_OF_CONDUCT.md README.md
include versioneer.py

global-exclude *.py[cod] __pycache__ *.so

graft src
prune docs
prune tests
exclude tox.ini
exclude *.md
exclude *.yaml
exclude *.yml
